@import '../../../styles/settings.scss';

.root {
  background-color: $bg-white-color;
  border-radius: $border-radius;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

  .header_wrapper {
    display: flex;
    padding-left: 50px;

    .business_header {
      margin: 0;
      padding: 24px 0 24px 20px;
      font-weight: 600;
      color: $main-blue;
      text-transform: uppercase;
      border-bottom: 2px solid #0165ff;
    }
  }

  .divider {
    border-bottom: 1px solid $bg-grey-color;
  }

  .content {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 0 74px 4px;
    height: 100%;

    .left_box {
      background-color: $bg-grey-color;
      border-radius: 0 0 0 12px;
    }

    @media screen and (max-width: 776px) {
      grid-template-columns: 100%;
    }
  }
}
