@import './settings.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  background-color: $bg-grey-color;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}
