// general settings
$base-size: 12px;
$font-text: 'Poppins', sans-serif;

// general colors
$main-blue: #0165ff;
$bg-grey-color: #f4f5f7;
$bg-white-color: #ffffff;

// text-colors
$text-color-blue: #0165ff;
$text-color-black: #242325;
$text-color-grey: #6b778c;

// radius
$border-radius: 12px;
